.testimonial-section {
  background: linear-gradient(to bottom right, #0043f0 0%, #5988ff 50%, #0043f0 100%);
  padding: 40px 5.55% 80px;
  text-align: center;
  z-index: 7;

  .h3-and-span {
    h3 {
      font-family: 'Baloo 2';
      color: #fff;
      font-size: clamp(35px, calc(35px + 51 * ((100vw - 320px) / 380)), 52px);
      line-height: 0.9;
      line-height: 0.9;
      padding: 30px 0 20px;
    }
    span {
      font-family: 'Montserrat';
      color: #fff;
      font-size: 32px;
      margin: 0px 0 50px 0;
      display: inline-block;
    }
  }

  .testimonials-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 943px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 40px;
      padding: 48px 0px;
    }

    .testimonial-single {
      padding: 20px 20px;
      width: 341px;
      height: 246px;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      h4 {
        font-family: 'Montserrat';
        color: #fff;
        font-size: 24px;
        margin: 8px 0 8px;
      }
      .project-span {
        font-family: 'Montserrat';
        color: #fff;
        font-size: 16px;
        margin: 8px 0 8px 0;
        justify-content: flex-start;
      }
      p {
        font-family: 'Montserrat';
        color: #fff;
        font-size: 18px;
        margin: 40px 5px 0;
      }
    }

    @media (max-width: 1150px) {
      .testimonials-container {
        flex-direction: row;
      }
      .testimonial-single {
        width: 80%;
        min-width: 300px;
        text-align: center;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 700px) {
  .testimonial-section {
    .testimonials-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      gap: 30px;
      padding: 0vw 0vw;
      scroll-snap-type: x mandatory;
      scroll-padding-inline: 10vw;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      mask-image: linear-gradient(to right, transparent 0, #000 8%, #000 92%, transparent 100%);
      -webkit-mask-image: linear-gradient(
        to right,
        transparent 0,
        #000 8%,
        #000 92%,
        transparent 100%
      );
    }

    .testimonials-container .testimonial-single {
      width: clamp(260px, 85vw, 340px);
      flex: 0 0 auto;
      scroll-snap-align: center;
      min-width: 200px;
      padding: 0;
      margin-bottom: 40px;
    }
  }
}
