:host {
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
  z-index: 6;
}

.header-section {
  height: 72px;
}

.header-inner {
  max-width: 1440px;
  margin-inline: auto;
  height: 100%;
  padding: 24px 5.55%;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', system-ui, sans-serif;
  font-size: clamp(16px, 2.3vw, 23px);
}

.header-right,
.header-left {
  flex: 0 0 52%;
  position: relative;
}

.logo {
  img {
    width: 80px;
    height: 80px;

    &:hover {
      transform: scale(1.03);
      filter: drop-shadow(0 0 7px rgb(255, 255, 255, 0.2));
    }
  }
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  bottom: 5px;
  margin: 0 auto;
  gap: 5%;
}

.burger-menu {
  display: none;
}

.nav-list {
  display: flex;
  justify-content: center;
  margin-right: 5%;
  gap: 10%;
  list-style: none;
}

.nav-list a,
.lang-switch a {
  text-decoration: none;
  color: inherit;
  color: #0043f0;
  cursor: pointer;
  text-wrap: nowrap;
}

.nav-list a:hover {
  text-decoration: underline;
}

.lang-switch {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0043f0;
  margin: 0 auto;
}

.lang-switch .active {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

@media (max-width: 1000px) {
  .nav-list,
  .lang-switch {
    display: none;
  }
  .header-left {
    margin: 0;

    img {
      height: clamp(80px, 10vw, 128px);
      width: auto;
    }
  }

  .header-right {
    margin: 0;

    img {
      height: clamp(50px, 4vw, 128px);
      width: auto;
    }
  }

  .burger-menu {
    display: block;
    padding-left: 290px;
  }
}
