.legal-notice-section {
  position: relative;
  max-width: 1440px;
  padding: 150px clamp(5.55%, 10vw, 11%) 50px;
  overflow: clip;
}

h2 {
  font-family: 'Baloo 2';
  color: #5988ff;
  font-size: clamp(23px, 6vw, 90px);
  line-height: 0.9;
  margin: 100px 0 50px 0;
  z-index: 2;
}

h4 {
  font-family: 'Montserrat', system-ui, sans-serif;
  color: #5988ff;
  font-size: 19px;
  margin-top: 50px;
  z-index: 2;
}

p {
  font-family: 'Montserrat', system-ui, sans-serif;
  color: black;
  font-size: 18px;
  margin: 0 0 0 0;
  z-index: 2;
  white-space: normal;
}

a {
  text-decoration: none;
  z-index: 2;
  white-space: normal;
  overflow-wrap: anywhere;

  &:hover {
    text-decoration: underline;
  }
}

.big-ellipse {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: -1;

  &.ellipse1 {
    width: 320px;
    height: auto;
    top: 0%;
    left: 8%;
  }
  &.ellipse2 {
    width: 169px;
    height: auto;
    top: 16%;
    left: 90%;
  }
  &.ellipse3 {
    width: 92px;
    height: auto;
    top: 36%;
    left: 98%;
  }
  &.ellipse4 {
    width: 119px;
    height: auto;
    top: 74%;
    left: 0%;
  }
}

@media (max-width: 850px) {
  .ellipse2,
  .ellipse3,
  .ellipse4 {
    display: none;
  }

  h2 {
    margin: 50px 0 30px 0;
  }
  h4 {
    margin-top: 20px;
  }
  p {
    margin: 0 0 13px 0;
  }
}
