.work-section {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.big-ellipse {
  position: absolute;
  z-index: 1;
}

.ellipse1 {
  width: 109px;
  height: 109px;
  left: 550px;
  top: 80px;
}

.ellipse2 {
  width: 183px;
  height: 183px;
  top: 200px;
  left: 1100px;
}

.ellipse3 {
  width: 393.32px;
  height: 393.32px;
  top: 550px;
  left: -250px;
}

.ellipse4 {
  width: 652.16px;
  height: 652.16px;
  top: 900px;
  left: 1000px;
}

.ellipse5 {
  width: 51px;
  height: 51px;
  top: 1300px;
  left: 70px;
}

.ellipse6 {
  width: 237.84px;
  height: 237.84px;
  top: 1700px;
  left: 120px;
}
.ellipse7 {
  width: 96px;
  height: 96px;
  top: 2000px;
  left: 1200px;
}
