.works-section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  overflow-x: clip;
  flex-direction: column;

  .h3-and-p {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 140px 60px;
    width: 700px;

    h3 {
      font-family: 'Baloo 2';
      color: #5988ff;
      font-size: 96px;
      line-height: 0.9;
      text-align: left;
      margin-left: 58px;
      margin-bottom: 60px;
    }

    p {
      font-family: 'Montserrat', system-ui, sans-serif;
      font-size: 23px;
      margin-left: 60px;
    }
  }

  .big-ellipse {
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
    z-index: -1;
  }

  .ellipse1 {
    width: 109px;
    height: 109px;
    top: 60px;
    margin-left: -110px;
  }
  .ellipse2 {
    width: 183px;
    height: 183px;
    top: 200px;
    margin-left: 600px;
  }
  .ellipse3 {
    width: 393px;
    height: 393px;
    top: 550px;
    margin-left: -600px;
  }
  .ellipse4 {
    width: 652px;
    height: 652px;
    top: 900px;
    margin-left: 1000px;
    z-index: -1;
  }
  .ellipse5 {
    width: 51px;
    height: 51px;
    top: 1350px;
    margin-left: -630px;
  }
  .ellipse6 {
    width: 238px;
    height: 238px;
    top: 1700px;
    margin-left: -400px;
  }
  .ellipse7 {
    width: 96px;
    height: 96px;
    top: 1900px;
    margin-left: 500px;
  }

  .works-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: -60px;
    width: 100%;
    z-index: 2;

    h4 {
      font-family: 'Baloo 2';
      color: #5988ff;
      font-size: 45px;
      margin-bottom: 30px;
    }

    span {
      font-family: 'Montserrat';
      color: var(--color-accent);
      font-size: 23px;
    }

    p {
      font-family: 'Montserrat';
      color: black;
      font-size: 16px;
      margin: 35px 0 35px 0;
    }

    button {
      position: relative;
      overflow: hidden;
      background: transparent;
      border: 2px solid var(--color-accent);
      border-radius: 10px;
      padding: 15px;
      cursor: pointer;
      transition: transform 0.12s ease;

      .btn-label {
        font-size: 21px;
        color: var(--color-accent);
        position: relative;
        z-index: 3;
        transition: color 0.12s ease;
        text-align: center;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0);
        transform: translate(-50%, -50%);
        transition: width 0.12s ease, height 0.12s ease, background-color 0.12s ease;
        z-index: 2;
      }

      &:hover {
        transform: scale(1.04);

        .btn-label {
          color: #fff;
        }

        &::before {
          width: 250%;
          height: 250%;
          background-color: #5988ff;
        }
      }
    }

    .work-row {
      display: flex;
      gap: 40px;
      padding: 0 80px;
      padding-bottom: 80px;
      align-items: center;

      &.reverse {
        flex-direction: row-reverse;

        .works-right {
          text-align: right;
          align-items: flex-end;
        }
      }
    }

    .works-left,
    .works-right {
      flex: 0 0 50%;
    }

    .works-right {
      margin-top: 0px;
      margin-bottom: -20px;
      justify-content: flex-end;
    }

    .works-left {
      display: flex;
      height: auto;
      justify-content: flex-start;
      width: 100%;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.25);
      cursor: pointer;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        display: block;
        transition: transform 0.25s ease-in-out;
      }
      img:hover {
        transform: scale(1.02);
      }
    }
  }
}
