* {
  margin: 0;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('/fonts/baloo-2-v23-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Baloo 2';
  src: url('/fonts/baloo-2-v23-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-accent: #0043f0;
}

h1 {
  font-family: 'Baloo 2';
  font-weight: 800;
  line-height: 0.8;
  font-size: 128px;
}
