* {
  margin: 0 auto;
  scroll-behavior: smooth;
}

:root {
  --color-accent: #5988ff;
}

/* Ensure button labels default to the project's accent color */
.btn .btn-label,
button {
  color: var(--color-accent);
}

@font-face {
  font-family: 'Baloo 2';
  src: url('/fonts/baloo-2-v23-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Baloo 2';
  src: url('/fonts/baloo-2-v23-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: 'Baloo 2';
  font-weight: 800;
  line-height: 0.9;
  font-size: clamp(32px, 9vw, 128px);
  letter-spacing: -0.02em;
}
